<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Collateral</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>


</head>

<body>
<!--/*@thymesVar id="collateral" type="com.edso.pawnservice.dtos.CollateralDTO"*/-->
<!--/*@thymesVar id="cryptos_collateral" type="com.edso.pawnservice.domains.CryptoDTO"*/-->
<!--/*@thymesVar id="cryptos_supply" type="com.edso.pawnservice.domains.CryptoDTO"*/-->
<form class="container-fluid" th:object="${collateral}" th:action="@{/pawn/collateral_post}" method="post">
    <h1>Create new Collateral</h1>
    <div class="form-group">
        <label for="collateral-amount">Collateral amount</label>
        <input type="number" value="0" id="collateral-amount" th:field="${collateral.amount}">
        <select th:field="${collateral.getCurrencySymbol}">
            <option th:remove="all">Hello there</option>
            <option th:each="crypto:${cryptos_collateral}"
                    th:value="${crypto.symbol}"
                    th:text="${crypto.symbol}"
            >
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <input type="text" placeholder="Enter message" id="message" th:field="${collateral.message}">
    </div>
    <div class="form-group">
        <label for="duration">Duration</label>
        <input type="number" id="duration" th:field="${collateral.duration}">
        <select>
            <option value="Weeks">Weeks</option>
            <option value="Months">Months</option>
        </select>

    </div>
    <div class="form-group">
        <label>Loan currency</label>
        <select th:field="${collateral.getLoanCurrencySymbol}">
            <option th:remove="all">Hello there</option>
            <option th:each="crypto:${cryptos_supply}"
                    th:value="${crypto.symbol}"
                    th:text="${crypto.symbol}"
            >


            </option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>

</form>

</body>

</html>