<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:object="${cryptos}">
  <select>
        <option th:each="crypto : ${cryptos}"
                th:value="${crypto.id}"
                th:text="${crypto.symbol}">
        </option>
  </select>
</body>
</html>